*{	
	padding:0;
	margin:0;
}
body{
	background-color:#FFF;
}
div.clear{
	clear: both;
	width:0 !important;
	height:0 !important;
	min-height:0 !important;
	min-width:0 !important;
	overflow: hidden;
}
div{
	outline:0px dotted #CC0000;
		
}
div.container{
	width:960px;
	margin:0 auto;
	padding:0px 0;
	background-color:#FFF;
}
div.header{
	height:170px;
	background-image:url(../picekhtar/bg.jpg);
}
div.content{
	min-height:200px;
	background-color:#FFF;
	padding:20px;
	margin-top:5px;
	 
}
div.content-rigth{
	float:right;
	width:250px;
	min-height:400px;
	border-left:1px solid #CCC;
	padding-top:0;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	
}
div.content-center{
	margin-right:250px;
	min-height:460px;
	border-top:1px solid #CCC;
	background:url(../picekhtar/u.png) no-repeat left bottom scroll;
}
div.content-center div{
	height:190px;
	padding:5px 0 5px 20px;
	
}
div.content-center div div{
	width:156px;
	height:154px;
	float:left;
	margin:10px;
}
div.footer{
	height:0;
}
/*------------------------css fariee--------------*/
div.header div{
	float:left;
}
form.frm{
	text-align:center;
}
fieldset{
	border-radius:30px;
	width:250px;
	height:100px;
	background-color:#CCC;
	
}
form.frm  table{    	
	direction:rtl;
	width:150px;
	height:200px;
	margin-top:20px;
	margin-right:20px;
}
form.frm  table td{
	width:300px;
}
form.frm textarea{
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;
	background-color:#EEE;
	border:2px double #CCC;
	text-align:center;
	color:#999;
	padding:10px;
}
form.frm table input[type="text"],input.addinput{			
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	height:30px;
	width:250px;
	text-align:center;
	background-color:#EEE;
	border:2px double #CCC;
	color:#999;
}
form.frm table input[type="text"]:hover,form.frm textarea:hover{
	background-color:#999;
	color:#FFF;
}
form.frm table select:hover{
	background-color:#999;
	color:#FFF;

}
table.serch-tbl{
	width:620px;
	margin-right:20px;
	margin-top:10px;	
	
}
form.frm table select{
	width:220px;
	height:23px;
	direction:ltr;
	text-align:justify;
	background-color:#EEE;
	border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	-moz-border-radius:6px;
	border-color:#CCC;
	color:#999;
}
form.frm table input[type="submit"],input[type="reset"]{
	width:180px;
	height:30px;
	background-color:#CCC;
	color:#FFF;
	border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
	-webkit-border-radius:10px;
	-o-border-radius:6px;
}
form.frm table input[type="submit"]:hover,input[type="reset"]:hover{
	background-color:#999;
}
form.frm table select:hover{
	background-color:#666;
	color:#FFF;
} 
/*----------------menu-------------------------------------------------------------------------*/
div.content-rigth ul {
	width:245px;
	height:100px;
	text-align:right;
	word-spacing:4px;
	margin-top:30px;
	position:absolute;
	right:0;
}
div.content-rigth ul li{	
	list-style:none;
}
div.content-rigth ul li a{
	color:#CCCCCC;
	text-decoration:none;
}
div.content-rigth ul a:hover{
	color:#FFFFFF;
}
div.content-rigth ul li:hover{
	border-left:1px solid #CCC;	
}

/*---------------serch-------------------*/

table.serch-tbl td{
	width:120px;
	text-align:center;
}

























